/* O que estamos a fazer aquí é redefinir (Reset) as definições de estilização padrão do navegador */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

body {
    background-color: #0a0a0a;
    color: #fff;
}

.sessao {
    padding: 100px 0px; /* Adiciona espaço entre a seção e a borda superior */
}

header {
    display: flex; /* Transforma o header em flexbox */
    justify-content: space-between; /* Adiciona espaço entre os itens do header */
    align-items: center; /* Centraliza os itens do header */
    padding: 30px; /* Adiciona espaço entre o header e as bordas da tela */
    margin-left: 50px; /* Adiciona espaço entre o header e a borda esquerda */
}

ul {
    display: flex; /* Transforma a lista em flexbox */
    gap: 50px; /* Adiciona espaço entre os itens da lista */
    list-style: none; /* Remove os pontinhos da lista */
}

.Principal {
    display: flex; /* Transforma a seção em flexbox */
    align-items: center; /* Centraliza os itens da seção */
    margin-left: 30px; /* Adiciona espaço entre a seção e a borda esquerda */
    min-height: 85vh; /* Adiciona espaço entre a seção e a borda superior */
}

.Principal h1 {
    font-size: 80px; /* Aumenta o tamanho da fonte */
    line-height: 1.1; /* Adiciona espaço entre as linhas */
    margin-bottom: 20px; /* Adiciona espaço entre o título e o parágrafo */
    letter-spacing: -2px; /* Diminui o (porque tem -) espaço entre as letras */
}

.Principal h1 span {
    color: #4d77ff; /* Adiciona cor ao span */
}

.Principal p {
    font-size: 20px; /* Aumenta o tamanho da fonte */
    margin-bottom: 20px; /* Adiciona espaço entre o parágrafo e o botão */
    max-width: 500px; /* Adiciona espaço entre o parágrafo e a borda direita */
    color: #bbb; /* Adiciona cor ao parágrafo */
    margin-bottom: 40px; /* Adiciona espaço entre o parágrafo e o botão */
}

.botao {
    padding: 15px 30px; /* Adiciona espaço entre o botão e as bordas */
    display: inline-block; /* Transforma o botão em inline-block */
    background-color: #4d77ff; /* Adiciona cor ao botão */
    color: #fff; /* Adiciona cor ao texto */
    border: none; /* Remove a borda padrão */
    border-radius: 50px; /* Adiciona bordas arredondadas */
    font-size: 16px; /* Aumenta o tamanho da fonte */
    font-weight: bold; /* Adiciona negrito */
    cursor: pointer; /* Adiciona um cursor de mão */
    transition: all 0.3s ease; /* Adiciona uma transição suave */
}

.titulo-sessao {
    font-size: 42px; /* Aumenta o tamanho da fonte */
    margin-bottom: 60px; /* Adiciona espaço entre o título e o parágrafo */
    position: relative;
}

.titulo-sessao::after { /* Tudo o que estiver aqui vai ficar depois (after) do título */
    content: ''; /* Este content é sempre obrigatório */
    position: absolute; 
    left: 0;
    bottom: -15px; /* Adiciona espaço entre o título e a linha */
    width: 110px;
    height: 4px; 
    background-color: #4d77ff; /* Adiciona cor ao título */
}

.grade-projetos {
    display: grid; /* Permite que eu escolha onde e como os elementos vão ficar */
    grid-template-columns: repeat(auto-fill, minmax(290px, 1fr));
    gap: 30px;
}

.card-projeto {
    background-color: #161616;
    border-radius: 10px;
    overflow: hidden;
    transition: transform 0.3s ease;
}

.card-projeto:hover {
    transform: translateY(-10px);
}

.img-projeto {
    width: 100%;
    height: 150px;
    object-fit: cover;
    margin-bottom: 20px;
}

.info-projeto {
    padding: 20px;
}

.info-projeto h3 {
    font-size: 24px;
    margin-bottom: 10px;
}

.info-projeto p {
    font-size: 16px;
    margin-bottom: 15px;
    color: #bbb;
}

.info-projeto a {
    display: inline-block;
    padding: 10px 20px;
    background-color: #4d77ff;
    color: #fff;
    border-radius: 50px;
    font-size: 16px;
    font-weight: bold;
    cursor: pointer;
    transition: all 0.3s ease;
}
